@model SalaryCapData.Data.Models.PitcherStats

<td class="table-col-text-right">@Html.DisplayFor( i => Model.CompleteGames )</td>
<td>@Html.DisplayFor( i => Model.Wins )</td>
<td>@Html.DisplayFor( i => Model.Loses )</td>
<td>@Html.DisplayFor( i => Model.Saves )</td>
<td>@Html.DisplayFor( i => Model.Holds )</td>
<td>@Html.DisplayFor( i => Model.InningsPitched )</td>
<td>@Html.DisplayFor( i => Model.HitsAllowed )</td>
<td>@Html.DisplayFor( i => Model.PitcherWalks )</td>
<td>@Html.DisplayFor( i => Model.WHIP )</td>
<td>@Html.DisplayFor( i => Model.Strikeouts )</td>
<td>@Html.DisplayFor( i => Model.ERA )</td>