@model IEnumerable<SalaryCapData.Data.Models.League>
@{
    ViewData[ "Title" ] = "Index";
}

<br />
<br />
<h2>Create Leagues</h2>
<hr />
@Html.Partial( "~/Views/Shared/ButtonPartials/_CreateButtonPartial.cshtml" )
<div class="form-border">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor( m => m.Name ) </th>
            <th>@Html.DisplayNameFor( m => m.Commissioner.Email ) </th>
            <th>@Html.DisplayNameFor( m => m.IsPrivate ) </th>
            <th>@Html.DisplayNameFor( m => m.MaxNumberFranchises ) </th>
            <th>@Html.DisplayNameFor( m => m.Points ) </th>
            <th>@Html.DisplayNameFor( m => m.Value ) </th>


        </tr>
        @foreach ( var item in Model )
        {

            <tr>
                <td>@Html.DisplayFor( m => item.Name )</td>
                <td>@Html.DisplayFor( m => item.Commissioner.Email )</td>
                <td>@Html.DisplayFor( m => item.IsPrivate )</td>
                <td>@Html.DisplayFor( m => item.MaxNumberFranchises )</td>
                <td>@Html.DisplayFor( m => item.Points )</td>
                <td>@Html.DisplayFor( m => item.Value )</td>
                <td style="width:150px;">
                    <div class="btn-group" role="group">
                        @Html.Partial( "~/Views/Shared/ButtonPartials/_EditButtonPartial.cshtml", item.Id )
                        @Html.Partial( "~/Views/Shared/ButtonPartials/_DetailsButtonPartial.cshtml", item.Id )
                        @Html.Partial( "~/Views/Shared/ButtonPartials/_DeleteButtonPartial.cshtml", item.Id )
                    </div>
                </td>
            </tr>

        }
    </table>
</div>

