@model SalaryCapGame.Views.WebViewModels.FranchiseIndexModel

<h4 class="text-muted">My Franchises</h4>
<table id="franchiseTable" align="left" class="table row-border table-sm table-striped table-bordered" style="font-size:small; padding:0;" width:100%>

    <thead>
        <tr class="no-gutters">
            <th>Id</th>
            <th class="text-left">Franchise</th>
            <th class="text-right">Points</th>
            <th class="text-right">Value</th>
            <th class="text-right">Trades</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.Franchises )
        {
            string selectedRow = "";
            if ( item.Id == ViewBag.FranchiseId )
            {
                selectedRow = "selected-row";

            }
            <tr class="no-gutters @selectedRow">
                <td>@Html.ActionLink( "Select", "Index", new { id = item.Id } ) </td>
                <td class="text-center">@Html.DisplayFor( i => item.Id )</td>
                <td class="text-left">@Html.DisplayFor( i => item.Nickname )</td>
                <td class="text-right">@Html.DisplayFor( i => item.Points )</td>
                <td class="text-right">@Html.DisplayFor( i => item.Value )</td>

                <td class="text-right">@Html.DisplayFor( i => item.NumberOfTrades )</td>
                @*<td><a asp-action="Index" asp-route-id="@item.Id"></a></td>*@
            </tr>

        }
    </tbody>

</table>

@if ( Model.PlayerAssignments != null )
{
    Html.Partial( "~/Views/Shared/Dashboard/_DashboardMyTeamTabsPartial.cshtml", Model.PlayerAssignments );

}