@model IEnumerable<SalaryCapData.Data.Models.HitterStats>


<table id="hittersTable" align="left" class="table row-border table-sm table-striped table-bordered" style="font-size:small; padding:0;" width:100%>
    <thead>

        <tr>
            <th></th>
            <th style="text-align:left">Player</th>
            <th>Pos</th>
            <th>Team</th>
            <th>GP</th>
            <th>AB</th>
            <th>Hits</th>
            <th>2B</th>
            <th>3B</th>
            <th>HR</th>
            <th>R</th>
            <th>RBI</th>
            <th>BB</th>
            <th>SB</th>
            <th>SO</th>
            <th>Value</th>
            <th>Pts</th>
        </tr>

    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
        <tr>
            <td class="details-control" id="addPlayer">
                @Html.ActionLink( "Add", "AddPlayer", "Players", new { franchiseId = 1, playerId = item.PlayerId }, new { id = "myLink" } )
                <i class="fa fa-plus-square" style="color:green;" aria-hidden="true"></i>
            </td>
            <td style="text-align:left">@Html.DisplayFor( i => item.Player.FirstName ) @Html.DisplayFor( i => item.Player.LastName )</td>
            <td>@Html.DisplayFor( i => item.Player.Position )</td>
            <td>@Html.DisplayFor( i => item.Player.Team.Abbrev )</td>

            <td>@Html.DisplayFor( i => item.GamesPlayed )</td>
            <td>@Html.DisplayFor( i => item.AtBats )</td>
            <td>@Html.DisplayFor( i => item.Hits )</td>
            <td>@Html.DisplayFor( i => item.Doubles )</td>
            <td>@Html.DisplayFor( i => item.Triples )</td>
            <td>@Html.DisplayFor( i => item.HomeRuns )</td>
            <td>@Html.DisplayFor( i => item.Runs )</td>
            <td>@Html.DisplayFor( i => item.RBI )</td>
            <td>@Html.DisplayFor( i => item.Walks )</td>
            <td>@Html.DisplayFor( i => item.StolenBases )</td>
            <td>@Html.DisplayFor( i => item.Strikeouts )</td>
            <td>$@Html.DisplayFor( i => item.Player.InitialValue )</td>
            <td>@Html.DisplayFor( i => item.Player.TotalPoints )</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Player</th>
            <th>Pos</th>
            <th>Team</th>

        </tr>
    </tfoot>
</table>
